@using System.Globalization
@using MvcLocalization
@using System.Threading;
@if (Request.IsAuthenticated)
{
    <p>
        Hello, @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account",
routeValues: null,
htmlAttributes: new { @class = "username", title = "Change password" })!

        @Html.ActionLink("Log off", "LogOff", "Account")
    </p>
}
else
{
    <ul>
        <li>
            @Html.ActionLink("Register", "Register", "Account",
    routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>

        <li>
            @Html.ActionLink("Log in", "Login", "Account",
    routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}

<ul style="margin-top:10px;">
    @{
        CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;

        <li><a href="/Home/ChangeCurrentCulture/0">English</a></li>

        <li><a href="/Home/ChangeCurrentCulture/1">Hindi</a></li>

        <li><a href="/Home/ChangeCurrentCulture/2">Marathi</a></li>

        <li><a href="/Home/ChangeCurrentCulture/3">Arabic</a></li>
    }
</ul>

@RenderBody()
